body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
section{
    height: 700px;
}
h1{
    font-size: 40px;
    font-weight: 900;
}
h2{
    font-size: 35px;
    font-weight: 200;
    color: #000000dc;
}
p{
    font-size: 15px;
    color: dimgray;
}

#Name-highlight{
    color: #ff0077c5;
    font-size: 50px;
}
.Half-width{
    width: 40%;
    float: left;
    
    padding-top: 50px;
    padding-left: 2%;

}
.Half-width img{
    width: 100%;
    padding-top: 30px;
}
.Top-banner{
    padding-left: 160px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 1250px;
}
#Top-text{
    margin-top: 120px;
}

.Link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff258bbe, #ff0077c5);
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 800;
    font-size: 15px;
    font-weight: 300;
}
.Mid-banner{
    padding-left: 150px;
    padding-bottom: 100px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 1700px;
}
#Mid-img{
    width: 38%;
}

#Mid-text{
    margin-top: 150px;
    padding-left: 120px;
}
#my-work{
    padding-top: 100px;
    color: #000000dc;
    text-align: center;
}
.My-latest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 1350px;
}

.Latest-work{
    float: left;
    width: 30%;
    padding: 15px;
    padding-top: 80px;
}
.Latest-work img{
    width: 100%;
}
#Three-in-one{
    margin: 0px 80px;
}
.Client-area{
    background-image: url("images/footer-bg.png");
    background-size: 1400px;
    text-align: center;
}
#Bruce{
    font-weight: bold;
    font-size: 18px;
    color: #000000dc;
}
#Lorem-lpsum{
    font-size: 18px;
    padding-left: 34%;
    padding-right: 34%;
    text-align: center;
    width: 31%;
    color: #000000dc;
}
.Connect{
    background-image: linear-gradient(180deg, #ff256eda, #ff0055d5);
    background-size:auto;
    margin-left: 28%;
    margin-right: 28%;
    border-radius: 10px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.Connect-link{
    color: #ffffff;
}
.bolod{
    font-size: 25px;
}
footer{
    text-align: center;
}
